.joystick_zone{
    width: 25%;
    height:100%;
    background-color:#000;
}

#joystick_left{

}
#joystick_right{

}

.middlezone{
    flex-grow:1;
}

body{
    display:flex;
    float:left;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overscroll-behavior:contain;
}